.download {
  background: #283645 url("../../img/bg-back-mobile@1x.jpg");
}

.download__inner {
  background: #283645;
}

.download__list {
  margin: 0;
  padding: 0;
}

.download__available-os {
  margin: 0;
  font-weight: 300;
  color: #ffffff;
  background: #283645;
}
