.page-footer {
  z-index: -1;
  .mobile-wrapper();
  flex-direction: column;
}

.page-footer__logo {
  width: 150px;
}

.page-footer__list {
  display: flex;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__copyright {
  width: 150px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    .tablet-wrapper();
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    .desktop-wrapper();
  }
}
