.page-footer {
  .mobile-wrapper();
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    .desktop-wrapper();
  }
}

.page-footer--visibility {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.page-footer__logo {
  width: 150px;
}

.page-footer__list {
  display: flex;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__copyright {
  width: 150px;
}
