.page-header--closed-menu {
  background: rgba(#000000, 30%);
}

.page-header--opened-menu {
  background: @base-color;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    width: 620px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    z-index: 2;
    margin-bottom: -32px;
  }

  .page-header--opened-menu {
    background: rgba(#000000, 30%);
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__wrapper {
    width: 940px;
    padding: 0 10px;
  }
}
