.page-header--closed-menu {
  background: rgba(#000000, 30%);
}

.page-header--opened-menu {
  background: @base-color;
}

.page-header__wrapper {
  .mobile-wrapper();
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    .tablet-wrapper();
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    z-index: 2;
    margin-bottom: -32px;
  }

  .page-header--opened-menu {
    background: rgba(#000000, 30%);
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__wrapper {
    .desktop-wrapper();
  }
}
