.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }
}

.site-list__item {
  padding: 17px 10px 13px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;

  @media(min-width: @desktop-width) {
    margin-left: 80px;
    padding: 0;
    border: none;
  }

  &:first-child {
    margin: 0;
  }
}

.site-list__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: @base-color;

  @media (min-width: @desktop-width) {
    font-weight: normal;
    text-transform: initial;
    background-color: transparent;
  }
}
